.about {
    position: relative;
    min-height: 1100px;
    padding: 50px 0 50px 0;
    &__title {
        text-align: center;
        font-size: 36px;
        line-height: 30px;
    }
    &__subtitle {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        color: #626262;
    }
    &__wrapper {
        display: flex;
        margin-top: 40px;
    }
    &__img {
        height: 500px;
        max-width: 100%;
    }
    &__text {
        &_title {
            color: $main-color;
            line-height: 30px;
        }
    }    
    &__descr {
        margin-top: 25px;
        font-size: 16px;
        color: #626262;
        li {
            list-style-type: none;
            line-height: 17px;
        }
    }
    &__info {
        max-width: 650px;
        &_title {
            color: $main-color;
            margin-top: 25px;
        }
        &_text {
            color: #626262;
            line-height: 20px;
        }
    }
}