.footer {
    max-height: 100px;
    padding: 10px 0 10px 0;
    background-color: #EDEDED;
    &__list {
        display: flex;
        width: 450px;
        justify-content: space-between;
        line-height: 90px;
    }
    &__link {
        color: #555;
        margin-top: 35px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        height: 90px;
    }
    &__img {
        height: 80px;
    }
}