.head {
    position: fixed;
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #fff;
    justify-content: space-around;
    z-index: 3;
    &__logo {
        img {
            height: 90px;
        }
    }
    &__list {
        display: flex;
        width: 850px;
        justify-content: space-between;
        margin-top: 25px;
        list-style-type: none;
        margin: 0 auto;
        a {
            color: $second-color;
            text-decoration: none;
        }
    }
    &__lang {
        &_flag {
            height: 15px;
            max-width: 100%;
            margin-bottom: 2px;
        }
    }
    &__link {
        width: 180px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        font-size: 18px;
        padding: 0 5px 0 5px;
        &:hover {
            width: 180px;
            height: 40px;
            background-color: $main-color;
            transition: 0.7s;
            border-radius: 10px;
            a {
                color: #fff;
            }
        }
        &_flags {
            &:hover {
                background-color: #fff;
            } 
        }
    }
    &__langbtn {
        border: none;
        background-color: #fff;
    }

}